node_modules/
.env
.env.*
env/
combine.log
src/config/config.json
config.env

/eng.traineddata
.gitignore

dist
config.env
schools2ai-firebase-adminsdk.json
registration_service.md
.DS_Store

.idea
.antigravitycli